node_modules# Ignore Node modules
node_modules/
.next/
out/
dist/

# Ignore Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ignore Dependency Lock Files (Use only one)
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore Environment Variables
.env
.env.local
.env.development
.env.production
.env.test

# Ignore Firebase Config
firebase-debug.log
firebase.json
.firebaserc

# Ignore Public Build Files
/coverage
/public/up
